#version-dropdown {
  position: relative;
  display: inline-block;
}

select {
  max-width: 8em;
  padding: .1em 1.5em .1em .5em;
  text-align: center;
  text-align-last: center;
  font-family: "Lato", "proxima-nova", "Helvetica Neue", "sans-serif";
  font-size: 1em;
  font-weight: normal;
  border-radius: .4em;
}
