exclude: 'utils/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-xml
        files: config/
      - id: end-of-file-fixer
      - id: trailing-whitespace
