name: Bump version
on:
  push:
    branches:
      - master
      - maint-5.6
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          create_annotated_tag: true
          default_bump: patch
          dry_run: false
          custom_tag: 6.0.18
          tag_prefix: cime
